@{
    ViewData["Title"] = "Home Page";
}

<div class="home-hero">
    <h1>NO SUMMER BREAKS</h1>
    <p>Only summer breakthroughs. Commitment doesn’t stop for anyone.</p>
    <a href="#" class="btn">Join Now</a>
</div>