@model Equinox.Models.User
@{
    string title = ViewBag.Action + " User";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input asp-for="PhoneNumber" class="form-control">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="DOB" class="form-label">DOB</label>
        <input asp-for="DOB" type="date" class="form-control">
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <label asp-for="@Model.IsCoach"></label>
        <input asp-for="@Model.IsCoach" type="checkbox" />
        <span asp-validation-for="IsCoach" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="UserId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="ManageUser" asp-action="List" class="btn btn-primary">Cancel</a>
</form>