html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.site-footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the links horizontally */
    gap: 20px; /* Adds spacing between links */
}

    .footer-links li {
        display: inline;
    }

        .footer-links li a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }

            .footer-links li a:hover {
                text-decoration: underline;
            }

.footer-bottom {
    margin-top: 10px;
    font-size: 12px;
    color: #bbb;
}

.Atop {
    margin-top: 3em !important;
}

.home-hero {
    background-image: url('/images/Equinox-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    text-shadow: 1px 1px 3px #000;
}

    .home-hero h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .home-hero p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .home-hero .btn {
        background-color: white;
        color: black;
        padding: 0.75rem 1.5rem;
        font-weight: bold;
        border: none;
    }

.home-heros {
    /*background-image: url('/images/Equinox-bg.jpeg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    text-shadow: 1px 1px 3px #000;
}

    .home-heros h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .home-heros p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .home-heros .btn {
        background-color: white;
        color: black;
        padding: 0.75rem 1.5rem;
        font-weight: bold;
        border: none;
    }