@model Equinox.Models.ClassCategory
@{
    ViewData["Title"] = "Delete Class Category";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Name)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ClassCategoryId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="ManageClassCategory" asp-action="List" class="btn btn-primary">Cancel</a>
</form>

